# string operation ,camparison,and information

In [1]:
import numpy as np

In [6]:
ch_name ="my name is "
str1 ="jolas boko"

In [7]:
np.char.add(ch_name, str1)

array('my name is jolas boko', dtype='<U21')

In [8]:
np.char.lower(ch_name)

array('my name is ', dtype='<U11')

In [9]:
np.char.upper(str1)

array('JOLAS BOKO', dtype='<U10')

In [10]:
np.char.center(str1,40)

array('               jolas boko               ', dtype='<U40')

In [11]:
np.char.center(str1,40 ,fillchar="*")

array('***************jolas boko***************', dtype='<U40')

In [12]:
np.char.split(ch_name)

array(list(['my', 'name', 'is']), dtype=object)

In [16]:
np.char.splitlines("hello\nIndian")

array(list(['hello', 'Indian']), dtype=object)

In [18]:
st4="dmy"
st5="dmy"
np.char.join([":","/"],[st4,st5])

array(['d:m:y', 'd/m/y'], dtype='<U5')

In [20]:
np.char.replace(ch_name,"name","petname")

array('my petname is ', dtype='<U14')

# camparison

In [21]:
np.char.equal(st4,st5)

array(True)

In [22]:
np.char.count(ch_name,"i")

array(1)

In [23]:
np.char.find(ch_name,"name")

array(3)